<!DOCTYPE html>
<html data-ng-app data-ng-csp style="overflow-y: auto">
  <head>
      <title> Personal Learning Environment </title>
  	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  	<link href="css/style.css" rel="stylesheet" type="text/css">
  	<script type="text/javascript" src="js/angular.min.js"></script>
  	<script type="text/javascript" src="js/index.js"></script>
  </head>
  <body>
    <div ng-controller="MainCtrl">
    	<h1>PLE</h1>
        <button ng-click="saveCourses()" class="btn-primary btn-mini">Save Locally</button>
        <table class="table-striped">
    	<tr ng-repeat="course in p2pu">
          <td class="name">
                {{course.name}}
          </td>
          <td>
                {{course.short_description}}
            </td>
    	</tr>
      </table>
    </div>
  </body>
</html>
